<div class='container pt-0 pb-10'>
  <h1 class='text-5xl mb-5 text-center'>注文完了</h1>

  <div class='pb-5 text-center'>
    <p>
      ご注文ありがとうございます。
      </br>
      商品の発送まで今しばらくお待ちください。
    </p>

  </div>

</div>